docs/esp32-dash2.json
[{"id":"aeeea69b40768391","type":"tab","label":"esp32-dash","disabled":false,"info":""},{"id":"691bc63612b91dd8","type":"inject","z":"aeeea69b40768391","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"austral/dash1/toggle","payloadType":"date","x":220,"y":180,"wires":[["611c001773a1a0b6","baf32c334b6a1823"]]},{"id":"611c001773a1a0b6","type":"mqtt out","z":"aeeea69b40768391","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e6f80d9c5a5f768a","x":480,"y":180,"wires":[]},{"id":"baf32c334b6a1823","type":"debug","z":"aeeea69b40768391","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":280,"wires":[]},{"id":"90425c84aad3afcf","type":"mqtt out","z":"aeeea69b40768391","name":"","topic":"austral/dash2/toggle","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e6f80d9c5a5f768a","x":540,"y":380,"wires":[]},{"id":"399e76f4f8b37eef","type":"ui_button","z":"aeeea69b40768391","name":"","group":"8a6b3e5335af7428","order":3,"width":0,"height":0,"passthru":false,"label":"toggle dash2","tooltip":"Toggle led in devices","color":"","bgcolor":"","className":"","icon":"","payload":"From dash2","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":380,"wires":[["90425c84aad3afcf"]]},{"id":"2fd3f89a832d71d9","type":"mqtt in","z":"aeeea69b40768391","name":"","topic":"austral/cl1/temp","qos":"2","datatype":"auto","broker":"e6f80d9c5a5f768a","nl":false,"rap":true,"rh":0,"x":240,"y":480,"wires":[["6abc387bae4b44d7"]]},{"id":"6abc387bae4b44d7","type":"ui_gauge","z":"aeeea69b40768391","name":"","group":"8a6b3e5335af7428","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#007db3","#e6e600","#ca3838"],"seg1":"18","seg2":"25","className":"","x":530,"y":480,"wires":[]},{"id":"0ec3cecfc2efd11f","type":"mqtt in","z":"aeeea69b40768391","name":"","topic":"austral/cl1/hum","qos":"2","datatype":"auto","broker":"e6f80d9c5a5f768a","nl":false,"rap":true,"rh":0,"x":240,"y":560,"wires":[["a92215aa4f5c6ee7"]]},{"id":"a92215aa4f5c6ee7","type":"ui_gauge","z":"aeeea69b40768391","name":"","group":"8a6b3e5335af7428","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#007db3","#e6e600","#ca3838"],"seg1":"40","seg2":"60","className":"","x":520,"y":560,"wires":[]},{"id":"891620796c879488","type":"mqtt in","z":"aeeea69b40768391","name":"","topic":"austral/cl2/temp","qos":"2","datatype":"auto","broker":"e6f80d9c5a5f768a","nl":false,"rap":true,"rh":0,"x":240,"y":660,"wires":[["052150ca074f824b"]]},{"id":"052150ca074f824b","type":"ui_gauge","z":"aeeea69b40768391","name":"","group":"4a19b7dfded49331","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#007db3","#e6e600","#ca3838"],"seg1":"18","seg2":"25","className":"","x":530,"y":660,"wires":[]},{"id":"b65dbdcc5d631fb2","type":"mqtt in","z":"aeeea69b40768391","name":"","topic":"austral/cl2/hum","qos":"2","datatype":"auto","broker":"e6f80d9c5a5f768a","nl":false,"rap":true,"rh":0,"x":240,"y":740,"wires":[["5a218000a2ca99a7"]]},{"id":"5a218000a2ca99a7","type":"ui_gauge","z":"aeeea69b40768391","name":"","group":"4a19b7dfded49331","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#007db3","#e6e600","#ca3838"],"seg1":"40","seg2":"60","className":"","x":520,"y":740,"wires":[]},{"id":"8e08c80173233bce","type":"ui_dropdown","z":"aeeea69b40768391","name":"","label":"interval","tooltip":"Select interval time (in seconds) for taking measurements","place":"Select option","group":"4a19b7dfded49331","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"5","type":"str"},{"label":"","value":"20","type":"str"},{"label":"","value":"60","type":"str"},{"label":"","value":"300","type":"str"},{"label":"","value":"600","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":220,"y":820,"wires":[["549a3acabcd3ee9b","89dcf3c7db6d5c7e"]]},{"id":"549a3acabcd3ee9b","type":"debug","z":"aeeea69b40768391","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":820,"wires":[]},{"id":"89dcf3c7db6d5c7e","type":"mqtt out","z":"aeeea69b40768391","name":"","topic":"austral/dash2/interval","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e6f80d9c5a5f768a","x":560,"y":880,"wires":[]},{"id":"e6f80d9c5a5f768a","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"8a6b3e5335af7428","type":"ui_group","name":"Device 1","tab":"8088ee6e2e996c6c","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4a19b7dfded49331","type":"ui_group","name":"Device 2","tab":"8088ee6e2e996c6c","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8088ee6e2e996c6c","type":"ui_tab","name":"Temperature and Humidity Dashboard - ESP32 - dash2","icon":"dashboard","order":2,"disabled":false,"hidden":false}]